/*Board*/
.tile {
	border: 1px solid #000;
	width: 30px;
	height: 30px;
}

table#tableBoard {
	table-layout: fixed;	
	border: 1px solid #000000;
	border-width: 0 0 1px 1px;
}

table#tableBoard td {
	display: inline-block;
	width: 54px;
	height: 54px;
	border: 1px solid #000000;
	border-width: 1px 1px 0 0;
}

table#tableBoard td.active {
	background-color: #007bff;
}