*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	color: #333;
}

/*Grid Layout*/
.grid {
	display: grid;
}

.grid_col {
	grid-template-columns: repeat(2, auto);
}

.grid_col_wd {
	grid-template-columns: 175px auto;
}

.grid_row {
	grid-template-rows: 1fr;
}

.col_gap {
	column-gap: 10px;
}

.col_gap35 {
	column-gap: 50px;
}

.row_gap {
	row-gap: 10px;
}

.row_gap30 {
	row-gap: 30px;
}

.content_start {
	align-content: start;
}

.btn.btn-primary:focus {
	box-shadow: none;
}


/*Dropdown*/
.dropdown.dropdown-wh {
	width: 175px;
	height: 35px;
}

.dropdown .dropdown-toggle {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	height: 100%;
	width: 100%;
	border: 2px solid rgba(0,0,0,.35);
	border-radius: 3px;
	padding: .2rem .6em;
	font-size: 14px;
	text-transform: capitalize;
}

.dropdown .btn:focus {
	outline: none;
	box-shadow: none;
} 

.dropdown .btn {
	text-align: left;
}

.dropdown .btn:after {
	width: 4px;
	height: 4px;
	justify-self: end;
}

.dropdown-menu.show {
	width: 175px;
}

.dropdown-menu .dropdown-item {
	cursor: pointer;
	text-transform: capitalize;
}
