/*Grid Layout*/
.grid {
	display: grid;
}

.grid_col {
	grid-template-columns: repeat(2, auto);
}

.grid_col_wd {
	grid-template-columns: 175px auto;
}

.grid_row {
	grid-template-rows: 1fr;
}

.col_gap {
	column-gap: 10px;
}

.col_gap35 {
	column-gap: 50px;
}

.row_gap {
	row-gap: 10px;
}

.row_gap30 {
	row-gap: 30px;
}

.content_start {
	align-content: start;
}